Lecture1_ANNintro/saved_model/*
Lecture2_ANNvsCNN/saved_model/*
Lecture1_ANNintro/X*.py
Lecture1_ANNintro/X*.ipynb
Lecture2_ANNvsCNN/X*.py
Lecture2_ANNvsCNN/X*.ipynb
utils/*.nc
tf2-env.yml
Lecture1_ANNintro/.ipynb_checkpoints
Lecture1_ANNintro/__pycache__
Lecture2_ANNvsCNN/.ipynb_checkpoints
Lecture3_XAI/.ipynb_checkpoints
utils/.ipynb_checkpoints
utils/__pycache__
